---
- name: PLAYBOOK AJOUT D'UN UTILISATEUR ET S'ASSURER QUE LES ANCIENS UTILISATEUR SONT MIS HORS JEU SAUF CERTAINS UTILISATEURS
  hosts: '{{ TARGET }}'
  gather_facts: false
  tasks:
    - name: Processus show command avant l'ajout et la supression des anciens utilisateurs
      cisco.ios.ios_command:
        commands:
          - 'show running | in username'
      register: output_user

    - name: Processus d'affichage des utilisateur existant avant l'ajout et la suppression des anciens utilsateur
      ansible.builtin.debug:
        msg: 
          - "{{ output_user.stdout[0] }}"

    - name: Processus d'ajout de l'utilisateur
      cisco.ios.ios_config:
        lines:
          - 'username {{ USERNAME }} privilege {{ PRIVILLEGE }} algorithm-type {{ ALGORITHME_TYPE }} secret {{ SECRET }}'
        save_when: always
  
    - name: Processus de recherche des utilisateur existant
      cisco.ios.ios_command:
        commands:
          - 'show running | in username'
      register: user_details

    - name: Processus d'extraction des utilisateurs
      ansible.builtin.set_fact:
        extracted_user: "{{user_details | regex_findall('username.(\\S+)', '\\1')}}"

    - name: Processus de suppression des anciens utilisateurs
      cisco.ios.ios_command:
        commands:
          - 'configure terminal'
          - 'no username {{item}}'
          - 'end'
      loop: "{{extracted_user}}"
      when: 
        - item != '{{ NO_DEL_USER_1 }}'
        - item != '{{ NO_DEL_USER_2 }}' 
        - item != '{{ USERNAME }}'


    - name: Processus show command avant l'ajout et la supression des anciens utilisateurs
      cisco.ios.ios_command:
        commands:
          - 'show running | in username'
      register: output_user

    - name: Processus d'affichage des utilisateur existant avant l'ajout et la suppression des anciens utilsateur
      ansible.builtin.debug:
        msg: 
          - "{{ output_user.stdout[0] }}"

